<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="POMWithThreadLocal suite" parallel="methods"
	verbose="2" thread-count="4" configfailurepolicy="skip">  <!-- continue if precondition i.e *Before fails -->
	<listeners>
		<!--<listener class-name="com.qa.extentReportListener.ExtentTestNGIReporterListener"/> -->
		<listener class-name="com.qa.util.AnnotationTransformer" />
		<listener class-name="com.qa.report.ExtentReportListener" />
		<listener class-name="com.qa.report.AllureReportListener" />
		<listener class-name="com.qa.report.TesultsReportListener" />
	</listeners>

	<test name="Ticket Fare Test">
		<classes>
			<class name="com.qa.tests.DemoTest">
				<methods>
					<include name="demoTest" />
					<include name="annotationTest" />
					<include name="retryTest" />
				</methods>
			</class>
			<!-- <class name="com.qa.tests.TicketFareTest" /> -->
		</classes>
	</test> <!-- Default test -->

</suite> <!-- Default suite -->
